html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F3E9D2;
}

@media (prefers-color-scheme: dark) {
    html, body {
        background-color: #0E1220;
    }
}