html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F8F0DA;
}

@media (prefers-color-scheme: dark) {
    html, body {
        background-color: #14140F;
    }
}